rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /pageViews/{document} {
      allow read, write: if true;
    }
    match /siteVisitors/{document} {
      allow read, write: if true;
    }
    match /debug/{document} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}