---
layout: default
title: Tags
permalink: /tags/
---

<div class="tags-page">
  <h1 class="page-title">Tags</h1>
  
  {% assign tags_list = site.tags | sort %}
  
  {% if tags_list.size > 0 %}
  <div class="tags-list">
    {% for tag in tags_list %}
      <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] }} ({{ tag[1].size }})</a>
    {% endfor %}
  </div>
  
  <div class="tag-groups">
    {% for tag in tags_list %}
    <div class="tag-group" id="{{ tag[0] | slugify }}">
      <h2 class="tag-title">{{ tag[0] }}</h2>
      <ul class="post-list">
        {% for post in tag[1] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small class="post-date">{{ post.date | date: "%Y-%m-%d" }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No tags found.</p>
  {% endif %}
</div> 